body {
  
   background-color: #add8e6; 
  }
  h1 {
    color: black;
    text-align: center;
    font-size: 75 px;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}
