
  
 body {
  
   background-color: #add8e6; 
  }
  
  h1 {
    color: black;
    text-align: center;
    font-size: 75 px;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

<div class="topnav">
  <a class="active" href="index.html">About Me</a>
  <a href="apps.html">Games</a>
  <a href="pictures.html">Pictures</a>
 <a href= "holidays.html">Holidays</a>

</div>

/* Change the color of links on hover */
.topnav a:hover {
  background-color: blue;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
 
  

